html
{ height: 100%;}

/**
{ margin: 0;
  padding: 0;}*/

body
{ font: normal .80em 'trebuchet ms', arial, sans-serif;
  background: #FFFFFF;
  color: #FFFFFF;}

img
{ border: 0;}

#title_text {
  font: normal 360% 'century gothic', arial, sans-serif;
  color: #000000;
  text-align: center;
  margin: 50px 0px 30px 0px;
}

#title2_text {
  font: normal 200% 'century gothic', arial, sans-serif;
  color: #000000;
  text-align: center;
  margin: 20px 0px 10px 0px;
}

#paper_id {
  font: normal 150% 'century gothic', arial, sans-serif;
  color: #000000;
  text-align: center;
  margin: 15px 0px 30px 0px;
}

h1, h2, h3, h4, h5, h6
{ font: normal 200% 'century gothic', arial, sans-serif;
  color: #000000;
  margin: 0 0 0 0;
  padding: 10px 0 10px 0;}

h1
{ font: normal 250% 'century gothic', arial, sans-serif;
  color: #000000;
  margin-top: 20px;
}

h2
{ font: normal 150% 'century gothic', arial, sans-serif;
  color: #000000;}

h3
{ font: normal 125% 'century gothic', arial, sans-serif;
  color: #000000;}

h4, h5, h6
{ margin: 0;
  padding: 0 0 5px 0;
  font: normal 120% arial, sans-serif;
  color: #1293EE;}

h5, h6
{ font: italic 95% arial, sans-serif;
  padding: 0 0 15px 0;
  color: #000;}

h6
{ color: #362C20;}

a, a:hover
{ outline: none;
  text-decoration: underline;
  color: #FD5BFF;}

a:hover
{ text-decoration: none;}

.left
{ float: left;
  width: auto;
  margin-right: 10px;}

.right
{ float: right;
  width: auto;
  margin-left: 10px;}

.center
{ display: block;
  text-align: center;
  margin: 20px auto;}


#main
{ margin-left: auto;
  margin-right: auto;
  width: 1000px;
  /*border:1px solid red;*/
  padding: 50px 0px 50px 0px;
}

#paper {
  width: 1000px;
  overflow: hidden;
  margin: 0 auto 0 auto;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px grey;
  padding: 0 0 50px 0;
}

#content {
  width: 900px;
  overflow: hidden;
  margin: 0 auto 0 auto;
  background: #FFFFFF;
}

#ang_errs {
  width: 900px;
  overflow: hidden;
  margin-top: 30px;
}

#pcloud_comp {
  width: 900px;
  overflow: hidden;
  margin-top: 30px;
}

#mesh {
  width: 900px;
  overflow: hidden;
  margin-top: 30px;
}

.border {
  /*border:1px solid black;*/
}

.video_pad {
    padding-bottom: 25px;
}

video {
  margin-top: 0px;
}

.col {
  float: left;
  width: 448px;
  margin-top: 20px;
}
.double_col {
  float: left;
  width: 898px;
  margin-top: 20px;
}

p {
  color: #000000;
  font: normal 110% 'century gothic', arial, sans-serif;
  text-align: justify;
  margin-top: 10px;
}

#disclaimer {
  color: gray;
  text-align: left;
}

#failure_case_text {
  margin-top: 50px;
  margin-bottom: -20px;
}

li {
  color: #000000;
  font: normal 110% 'century gothic', arial, sans-serif;
  text-align: justify;
  margin-top: 10px;
}